@media (max-width: 979px) {
    header {
        flex-direction: column;
        text-align: center;

    }
    section{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .logo p {
        display: flex;
        align-items: center;
        width: 160px;
        height: 47px;
        font-size: 40px;
    }

    .menu ul {
        flex-direction: column;
        display: none;
    }
.fundo picture{
    height: 100%;

}
.fundo{
    height: 100vh;
}
    .cadastro{
position: relative;
width: 20rem;
height: auto;
text-align: center;
transform: translate(-3%,-50%);
padding: 0;
}
    input.cpf{
        width: auto;
    }
    section.secao2{
        display: block;
        text-align: center;
    }
    .mobs{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .mob-item{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .titulo{
        margin-top: 150px;
    }
}