@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    font-family: 'Bebas Neue', sans-serif; 
}
.fundo{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0;
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frases{
    color: #00ff22;
    background-color: rgba(8, 116, 8, 0.4);
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
.frase1{
    margin-bottom: 50px;
}
.frases img{
    width: 200px;
}
.fundo::after{
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 92%);
}
